:root {
  --primary-color: #ff99cc; 
  --secondary-color: #b399ff; 
  --background-color: #fff0f5; 
  --accent-color: #ff66b2; 
  --text-color: #4d004d; 
  --button-color: #ff99cc; 
  --button-hover-color: #e68a9f; 
  --border-color: #e6e6fa; 
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}